/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


body {
	font: 1.5em/1.47 'Open Sans', Arial, Sans-serif;
	margin: 15px;
	padding: 50px;
	background:  #FFF;
	color: #0c180b;

}


a {
	font-weight: bold;
	color: ##193117;
}

small {
	color: #0c180b;
}

strong {
	color: #171931;
}

h1 {
	font-family: Georgia, serif;
	font-weight: normal;
	color: #311719;
	font-style: italic;
	margin-top: 0;
}

h2 {
	color:#311719;
}

h3 {
	font-size: 18px;
	color: #2f1731;
	letter-spacing: 2px;
	margin-top: 42px;
}

h4 {
	font-weight: normal;
	margin-bottom: 0;
	color: #171931;
}

h5 {
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	color: #311719;
	font-style: italic;
	margin-top: 0;
}


ul {
	list-style: square;
	line-height: .5em;
}

ul p {
	color: #311719;
}

hr {
	border: none;
	border-top: 1px solid #999999;
	margin: 30px 0;
}

img {
	margin-bottom: 20px;
	border: 1px solid #999999;
	width:200px;
}

nav {
	color: #999999;
	}
