/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
body {
	font: 1.2em/1.2 'Open Sans', Arial, Sans-serif;
	margin-left: 20%;
	margin-right: 20%;
	background:  #FFF;
	color: #0c180b;
	min-width: 200px;
	max-width: 1080;

}


a {
	font-weight: bold;
	color: ##193117;
}

small {
	color: #0c180b;
}

strong {
	color: #171931;
}

h1 {
	font-family: Georgia, serif;
	font-weight: normal;
	color: #311719;
	font-style: italic;
	margin-bottom: 10px;
	
}



h2 {
	color:#311719;
}

h3 {
	font-size: 18px;
	color: #2f1731;
	letter-spacing: 2px;
	margin-top: 42px;
}

h4 {
	font-weight: normal;
	margin-bottom: 0;
	color: #171931;
}

h5 {
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	color: #311719;
	font-style: italic;
	margin-top: 0;
}

p{
	
	max-width: 1020px;
	min-width:250px;

}

small{
	line-height: 20px;
}

ul {
	list-style: square;
	line-height: .5em;
}

ul p {
	color: #311719;
}

hr {
	border: none;
	border-top: 1px solid #999999;
	margin: 30px 0;
}


nav {
	color: #999999;
	}

img{
	max-width: 350px;
}

