body {
	font: 1em/1.67 'Open Sans', Arial, Sans-serif;
	margin: 15px;
	border: 5px solid #777777;
	padding: 50px;
	background:  #e9e9e9;

}


a {
	font-weight: bold;
	color: #00CC99;
}

small {
	color: #BBBBBB;
}

strong {
	color: #FFFFFF;
}

h1 {
	font-family: Georgia, serif;
	font-weight: normal;
	text-align: center;
	color: #FFFFFF;
	font-style: italic;
	margin-top: 0;
}

h2 {
	color: #FFFFFF;
}

h3 {
	font-size: 18px;
	color: #BBBBBB;
	letter-spacing: 2px;
	margin-top: 42px;
}

h4 {
	font-weight: normal;
	margin-bottom: 0;
}

h5 {
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	text-align: center;
	color: #FFFFFF;
	font-style: italic;
	margin-top: 0;
}


p {
	font-family: Georgia, serif;
	margin-top: 0;
	margin-bottom: 27px;
}

ul {
	list-style: square;
}

ul p {
	color: #BBBBBB;
}

hr {
	border: none;
	border-top: 1px solid #999999;
	margin: 30px 0;
}

img {
	float: center;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 1px solid #999999;
	width: 50%;
	border-width: 15px;
	border-color:  #FFFFFF;
}

nav {
	color: #999999;
	text-align: center;
}
